{% extends 'base.html' %}
{% block  content%}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/goods/list5_1_1/" class="fruit">快餐便当</a></li>
					<li><a href="/goods/list6_1_1/" class="seafood">汉堡薯条</a></li>
					<li><a href="/goods/list7_1_1/" class="meet">意面披萨</a></li>
					<li><a href="/goods/list8_1_1/" class="egg">米粉面食</a></li>
					<li><a href="/goods/list9_1_1/" class="vegetables">米粥包子</a></li>
					<li><a href="/goods/list10_1_1/" class="ice">辣味湘菜</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">实惠外卖</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		全部分类 > {{ title }}
		{% if id|default:'' != '' %}
     > 商品详情
    {% endif %}
	</div>

    {% block detail %}{% endblock detail %}

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in news %}
					<li>
						<a href="/goods/{{ new.id }}/"><img src="/static/{{new.gpic}}"></a>
						<h4><a href="/goods/{{ new.id }}/">{{new.gtitle}}</a></h4>
						<div class="prize">￥{{new.gprice}}</div>
					</li>
                    {% endfor %}

				</ul>
			</div>
		</div>
    {% block detail2 %}{% endblock detail2 %}


{% endblock content %}


